server:
  port: 8888
zuul:
  routes:
    uap:
      path: /test/**  
      strip-prefix: true
      service-id: OAUTH-RESOURCE #使用service-id 确定代理到哪个服务
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
security:
  oauth2:
    client:
      access-token-uri: http://localhost:8080/oauth/token
      client-id: client
      client-secret: test
      user-authorization-uri: http://localhost:8080/oauth/authorize
      client-authentication-scheme: header
      scope: cas
    resource:
      user-info-uri: http://localhost:8080/user
      preferTokenInfo: false